/* ################ Base Layout ################### */
/* Colors #*/
/* Text */
.theme-dark{
    /* background colors */
    --background-tertiary: var(--main-color);
    --background-primary: rgba(var(--main-color-accent),var(--main-color-accent),var(--main-color-accent), var(--chat-transparency));
    --background-secondary: rgba(var(--main-color-accent),var(--main-color-accent),var(--main-color-accent), var(--channels-transparency));
    --background-secondary-alt: rgba(var(--main-color-accent),var(--main-color-accent),var(--main-color-accent), var(--chat-transparency));
    --background-accent: rgba(var(--main-color-accent),var(--main-color-accent),var(--main-color-accent), 1);
    --background-floating: rgba(var(--main-color-accent),var(--main-color-accent),var(--main-color-accent), .99);
    --background-modifier-hover: rgba(255, 255, 255, 0.05);
    --background-modifier-active: rgba(255, 255, 255, 0.07);
    --background-modifier-selected: rgba(255, 255, 255, 0.1);
    --background-modifier-accent: rgba(255, 255, 255, 0.1);
    --background-mentioned: rgba(255, 255, 255, 0.05);
    --background-mentioned-hover: rgba(255, 255, 255, 0.08);
    --background-message-hover: rgba(255, 255, 255, 0.07);
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --channeltextarea-background: rgba(255, 255, 255, 0.05);

    /* Headers and VC signal/connected status text */
    --text-positive: var(--accent-color);

    /* text default color */
    --text-muted: var(--text-color);
    --text-link: var(--text-muted);
    --interactive-selected: var(--accent-color);
    --interactive-active: var(--accent-color);
    --interactive-normal: var(-- --accent-color);
    --interactive-muted: rgba(255, 255, 255, 0.079);
    --channels-default: var(--text-muted);
    --header-primary: var(--accent-color);
    --header-secondary: var(--text-normal);
    
    /* Headers and VC signal/connected status text */
    --text-positive: var(--accent-color);
    /* text default color */
    --text-muted: var(--text-color);
    --text-link: var(--text-muted);
    --interactive-selected: var(--accent-color);
    --interactive-active: var(--accent-color);
    --interactive-normal: var(-- --accent-color);
    --interactive-muted: rgba(255, 255, 255, 0.079);
    --channels-default: var(--text-muted);
    --header-primary: var(--accent-color);
    --header-secondary: var(--text-normal);
}
/* Settings panels */
.peopleColumn-1wMU14 {
    background-color: var(--background-primary);
}
/* selected channel */
.selected-2TbFuo::before {
    background-color: var(--accent-color);
  }
/* Mentioned message accent */
.hasReply-2Cr4KE::before {
    background-color: var(--accent-color);
}
/* Setting panels solid */
    /* Top window bar */
.typeWindows-2-g3UY {
    background-color: var(--app-border-color);
}
    /* Server panel */
.scroller-3X7KbA, none-2-_0dP scrollerBase-_bVAAt {
    background-color: var(--app-border-color);
}
.wrapper-3kah-n {
    opacity: 1;
}
    /* channel list */
.content-1gYQeQ {
    border-radius: 10px !important;
}
    /* selected channel */
.selected-2TbFuo ::before {
    border-radius: 5px !important;
    background-size: var(--channel-background-size);
    background-repeat: no-repeat;
    background-image: var(--background-image);
    background-color: var(--accent-color);
    background-blend-mode: var(--background-blend-mode);
    filter: drop-shadow(0 0 0.2rem var(--accent-color)) var(--image-saturation);
    background-position: var(--background-pos-small);
    opacity: 0.4;
}
    /* Selected channel outline */
.selected-2TbFuo {
    border: 2px solid;
    border-color: var(--accent-color);
    border-radius: 5px !important;
    opacity: 0.8;
}
.wrapper-3Hk9OB{
    transform: scale(105%);
}
    /* title background fix */
.header-3OsQeK {
    background-color: var(--background-1);
    border-radius: 0%;
}
    /* Buttons */
.bd-button {
    background-color: var(--accent-color);
}
    /* Settings menu button fix */
.bd-button-title:before {
    background-color: var(--accent-color);
    color: #0e0f0f;
}
.bd-button-title:hover {
    background-color: var(--text-normal);
}
    /* Members */
.container-2o3qEW {
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-size: var(--member-background-size);
    background-repeat: no-repeat;
    background-image: var(--background-image);
    background-color: var(--accent-color);
    background-blend-mode: var(--background-blend-mode);
    filter: var(--image-saturation);
    background-position: var(--background-pos);
    box-shadow:inset 10px 0px 10px 3px var(--background-2);
    position: relative;
    height: 99%;
    margin-left: 0%;
    margin-right: 0.1%;
}
    /* Members inner */
.members-3WRCEx {
    background-color: black;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    opacity: 0.85;
}
