    /* Members */
.container-2o3qEW {
    transition: var(--transition-time-out);
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-size: var(--member-background-size);
    background-repeat: no-repeat;
    background-image: var(--background-image);
    background-color: var(--accent-color);
    background-blend-mode: var(--background-blend-mode);
    filter: var(--image-saturation);
    background-position: var(--background-pos);
    box-shadow:inset 10px 0px 10px 3px var(--background-2);
    position: relative;
    height: 99%;
    margin-left: 0%;
    margin-right: 0.1%;
}
.container-2o3qEW:hover {
    transition: var(--transition-time-in);
    filter: saturate(0.8);
    background-position: var(--background-pos);
}
    /* Members inner */
.members-3WRCEx {
    background-color: black;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    filter: blur(var(--image-blur));
    opacity: 0.0;
    transform: scale(1);
    transition: var(--transition-time-out);
    transition-delay: var(--transition-delay-out);
}
.members-3WRCEx:hover {
    background-color: black;
    transition: var(--transition-time-in);
    filter: blur(0px);
    opacity: 0.85;
    transform: scale(1);
}
